<!-- ravintolat/templates/ravintolat/index.html -->
{% extends 'ravintolat/base.html' %}

{% block content %}
<h2>Ravintolalista</h2>
<form method="get">
    <input type="text" name="hakusana" placeholder="Hae ravintolaa..." value="{{ hakusana }}">
    <button type="submit">Hae</button>
</form>
<ul>
    {% for ravintola in ravintolat %}
        <li>
            <a href="{% url 'ravintola_detail' ravintola.id %}">{{ ravintola.nimi }}</a>
            - {{ ravintola.osoite }}
        </li>
    {% empty %}
        <li>Ei ravintoloita löydetty.</li>
    {% endfor %}
</ul>
{% endblock %}
