{% extends "layout.html" %}
{% block content %}
<h1>Add a Restaurant</h1>
<form method="post">
  {{ form.csrf_token }}
  <div class="mb-3">
    {{ form.name.label }}<br>
    {{ form.name(class_="form-control") }}
    {% for error in form.name.errors %}
        <div class="text-danger">{{ error }}</div>
    {% endfor %}
  </div>
  <div class="mb-3">
    {{ form.address.label }}<br>
    {{ form.address(class_="form-control") }}
    {% for error in form.address.errors %}
        <div class="text-danger">{{ error }}</div>
    {% endfor %}
  </div>
  <div class="mb-3">
    {{ form.submit(class_="btn btn-primary") }}
  </div>
</form>
{% endblock %}
